/*Color variables*/
$white: white;

$bg-main: #4e7180; // dark blue (background)
$div-bg: #53869c; // mid blue (div background)
$light-blue: #58a4b0; // lighter blue
$dark-blue: #373f51; // darkest blue
$gray-white: #e2e2e2; // white

