$bg-color: white;

#zen-preamble,
div[role="main"] {
    width: 100%;
    margin: auto;
}

aside {
    position: relative;
    top: -77em;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
}

.select,
.archives,
.next,
.resources,
.designer-name {
    display: none;
}

li {
    color: $bg-color;
}

#zen-resources {
    position: absolute;
    bottom: -77em;
}

#zen-resources ul {
    display: flex;
    flex-flow: row wrap;
}

#zen-preamble {
    padding-top: 20em;
}

header,
#zen-summary,
nav {
    text-align: center;
}

.viewall {
    position: relative;
    left: 60em;
    top: -4em;
}

#zen-preamble::before {
    content: '/*icon goes here*/';
    float: left;
}

#zen-explanation::before {
    content: '/*icon goes here*/';
    float: right;
}

#zen-participation::before {
    content: '/*icon goes here*/';
    float: left;
}

#zen-requirements::before {
    content: '/*icon goes here*/';
    float: right;
    background-color: green;
    width: 20px;
    height: 20px;
}