#arm {
    animation: wave 1.5s ease infinite;
    transform-origin: bottom left;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }

}