//navigation
.design-selection,
.design-archives {
    position: absolute;
    top: 42%;
    left: 12%;
}

a.design-name:hover {
    padding: 1em;
    transition-duration: 1.5s;

    &::before {
        content: '*';
        color: $gray-white;
        font-size: 1.5em;
        font-weight: bold;
    }
}

nav {
    ul {
        display: flex;
        flex-flow: row wrap;
    }

    a {
        text-decoration: none;
        color: $gray-white;

        :hover {
            text-decoration: underline;
        }
    }

}

//view all button
.viewall {
    width: 8em;
    position: absolute;
    left: 52vw;
    top: -3vw;
    transition-duration: .5s;

    &::after {
        content: '   >';
        font-weight: bold;
        color: $bg-main;
        transition-duration: 1.5s;
    }

    &:hover {
        padding: .5em;
        border: 1.5px solid $gray-white;
        text-decoration: underline;
        border-radius: 8px;

        &::after {
            color: $gray-white;
        }
    }
}