/*Page layout*/
$white: white;

$bg-main: #4e7180; // dark blue (background)
$div-bg: #53869c; // mid blue (div background)
$light-blue: #58a4b0; // lighter blue
$dark-blue: #373f51; // darkest blue
$gray-white: #e2e2e2; // white

.page-wrapper {
    width: auto;
    margin: 0 1vw 0 1vw;
}

.design-selection,
.design-archives {
    position: absolute;
    top: 12em;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
}

.select,
.archives,
.next,
.resources,
.designer-name {
    display: none;
}

li {
    color: $white;
}

#zen-resources ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

#zen-preamble {
    margin-top: 5em;
}

header,
#zen-summary,
nav {
    text-align: center;
}

.viewall {
    position: absolute;
    left: 60em;
    top: -4em;
}

#zen-benefits,
#zen-benefits p {
    margin-top: -1em;
}

#zen-preamble::before {
    content: '/*icon goes here*/';
    float: left;
}

#zen-explanation::before {
    content: '/*icon goes here*/';
    float: right;
}

#zen-participation::before {
    content: '/*icon goes here*/';
    float: left;
}

#zen-requirements::before {
    content: '/*icon goes here*/';
    float: right;
}