/*Page layout*/

@import 'colors';
@import 'fonts';
@import 'tree';
@import 'positioning';
@import 'navigation';

//hide everything we want to hide
.select,
.archives,
.next,
.resources,
.designer-name {
    display: none;
}

//generic styling
body {
    background-color: $bg-main;
    font-family: $primary-font;
    max-width: 80%;
    margin: auto;
    background-image: url('/assets/snow5.gif_c200');
}

h1,
h2,
h3 {
    font-family: $secondary-font;
    word-spacing: .08em;
    letter-spacing: .05em;
    color: $dark-gray;
}

.page-wrapper {
    width: auto;
    margin: 0 1vw;
}

li {
    color: $bg-main;
}

p>a {
    text-decoration: none;
    color: black;

    :hover {
        text-decoration: underline;
    }
}

[role="banner"]>h2 {
    margin-top: -25px;
}

header {
    text-align: center;
}

#zen-summary {
    text-align: center;
    margin: auto;
    width: 60%;
}

[role='contentinfo'] {
    margin: 1em -10.3em 1em -10.3em;
    background-color: $light-blue;
    padding: .5em 10.3em;
    text-align: center;

    a {
        color: $gray-white;
        text-decoration: none;

        :hover {
            text-decoration: underline;
        }
    }
}

footer {
    margin: -1em -10.3em -.5em -10.3em;
    background-color: $light-blue;
    padding: .5em 10.3em;
    display: flex;
    justify-content: space-evenly;

    a {
        text-decoration: none;
        color: $gray-white;

        :hover {
            text-decoration: underline;
        }
    }
}

//section styling
#zen-resources ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: -.5em -10.3em -.5em -10.3em;
    background-color: $light-blue;
    padding: 1em 10.3em;
    list-style: none;

    a {
        text-decoration: none;
        color: $gray-white;

        :hover {
            text-decoration: underline;
        }
    }
}

#zen-preamble {
    margin: 10em -10.3em -.5em -10.3em;
    background-color: #58a4b0;
    padding: .1em 10.3em;

    h3::before {
        content: ' ';
        float: left;
        background-image: url('/assets/icons/snowman.svg');
        width: 100px;
        height: 135px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: .5em .5em 0 0;
    }
}

#zen-participation {
    margin: 1em -10.3em -.5em -10.3em;
    background-color: $light-blue;
    padding: .1em 10.3em;

    h3::before {
        content: ' ';
        width: 100px;
        height: 100px;
        float: left;
    }
}

#zen-benefits {
    margin: -2em -10.3em -.5em -10.3em;
    background-color: $light-blue;
    padding: .1em 10.3em;

    p {
        margin-top: -1em;
    }
}

#zen-explanation::before {
    content: ' ';
    float: right;
    background-image: url('/assets/icons/Snowflake.svg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}

#zen-requirements::before {
    content: ' ';
    float: right;
    background-image: url('/assets/icons/mug.svg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}