/*Page layout*/

@import 'colors';
@import 'fonts';
//@import 'tree';
@import 'positioning';
@import 'navigation';
@import 'animations';

//hide everything we want to hide
.select,
.archives,
.next,
.resources,
.designer-name {
 display: none;
}

//generic styling
body {
 background-color: $bg-main;
 font-family: $primary-font;
 width: 100%;
 height: 100vh;
 margin: 0;
 background-image: url('/assets/snow5.gif_c200');
}

h1,
h2,
h3 {
 font-family: $secondary-font;
 word-spacing: .08em;
 letter-spacing: .05em;
 color: $dark-gray;
}

.page-wrapper {
 width: auto;
 // margin: 0 1vw;
 margin: 0;
}

li {
 color: $bg-main;
}

p > a {
 text-decoration: none;
 color: black;

 :hover {
  text-decoration: underline;
 }
}

[role="banner"] > h2 {
 margin-top: -25px;
}

header {
 text-align: center;
}

#zen-summary {
 text-align: center;
 margin: auto;
 width: 50%;
}

footer {
 // margin: -1em -10.3em -.5em -10.3em;
 margin: 0;
 background-color: $light-blue;
 padding: .5em 12%;
 display: flex;
 justify-content: space-evenly;

 a {
  text-decoration: none;
  color: $gray-white;

  :hover {
   text-decoration: underline;
  }
 }
}

//section styling
#zen-resources ul {
 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
 // margin: -.5em -10.3em -.5em -10.3em;
 margin: 0;
 background-color: $light-blue;
 padding: 1em 12%;
 list-style: none;

 a {
  text-decoration: none;
  color: $gray-white;

  :hover {
   text-decoration: underline;
  }
 }
}

#zen-preamble {
    margin-top: 14%;
    background-color: #58a4b0;
    padding: .1em 12%;

    h3::before {
        content: ' ';
        float: left;
        background-image: url('/assets/icons/snowman.svg');
        width: 100px;
        height: 135px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: .5em .5em 0 0;

    }
}

.explanation {
    padding: .1em 12%;
}

#zen-participation {
 // margin: 1em -10.3em -.5em -10.3em;
 margin: 0;
 background-color: $light-blue;
 padding: .1em 12%;

    h3 {
        position: relative;
        margin-left: 5em;
        margin-bottom: -2.8em;
    }

    h3::before {
        content: "";
        width: 0px;
        height: 0px;
        display: block;
        position: absolute;
        top: .5em;
        left: -3.5em;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 67px solid green;
    }

    h3::after {
        width: 17px;
        height: 33px;
        content: "";
        display: block;
        position: relative;
        top: .8em;
        left: -2.6em;
        border-bottom: 17px solid brown;
    }
}

#zen-participation p:nth-child(2)::before {
    content: "";
    float: left;
    width: 100px;
    height: 50px;
    //background-color: pink;
}

#zen-benefits {
 // margin: -2em -10.3em -.5em -10.3em;
 margin: 0;
 background-color: $light-blue;
 padding: .1em 12%;

 p {
  margin-top: -1em;
 }
}

.requirements p {
 padding: 0 12%;
}

//needs to be after the p so it overrides
[role='contentinfo'] {
 // margin: 1em -10.3em 1em -10.3em;
 margin: 0;
 background-color: $light-blue;
 padding: .5em 12% !important;
 text-align: center;

 a {
  color: $gray-white;
  text-decoration: none;

  :hover {
   text-decoration: underline;
  }
 }
}

.requirements h3 {
 padding-left: 12%;
}

/*Icons*/

#zen-explanation::before {
 content: ' ';
 float: right;
 background-image: url('/assets/icons/Snowflake.svg');
 width: 100px;
 height: 100px;
 background-repeat: no-repeat;
}

#zen-requirements::before {
 content: ' ';
 float: right;
 background-image: url('/assets/icons/mug.svg');
 width: 100px;
 height: 100px;
 background-repeat: no-repeat;
 padding-right: 12%;
}
