/*position cloud*/
.extra1 {
    background-image: url('/assets/icons/cloud.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 98.7vw;
    height: 45vh;
    position: absolute;
    top: -40px;
//    left: -10px;
    z-index: -1;
    transform: rotate(180deg);
}
