// color palette - these colors will be the color swatches of the Colors section

$color-1: #4e7180; // dark blue (background)
$color-2: #53869c; // mid blue (div background)
$color-3: #58a4b0; // lighter blue
$color-4: #373f51; // darkest blue
$color-5: #e2e2e2; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red